$bg-color: linear-gradient(to right bottom, #a8def1, #7e87f6);
$day-clear-bg: #caffbf;
$day-cloudy-bg: #a0c4ff;
$day-snow-bg: #a8def1;
$day-rain-bg: #9bf6ff;
$night-clear-bg: #bdb2ff;
$night-cloudy-bg: #7ba2e3;
$night-snow-bg: #a0c4ff;
$night-rain-bg: #67c8eb;
$day-text-color: #000000;
$night-text-color: #dedede;

$day-clear-secondary: #a1fb8f;
$day-cloudy-secondary: #81b0fb;
$day-snow-secondary: #88d4f0;
$day-rain-secondary: #79f4ff;
$night-clear-secondary: #a596f8;
$night-cloudy-secondary: #588ae0;
$night-snow-secondary: #7cadfb;
$night-rain-secondary: #46bde9;
