.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 1.5rem;
}

.mb-la {
  margin-bottom: 2rem;
}

.mb-xl {
  margin-bottom: 3rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 1.5rem;
}

.mt-la {
  margin-top: 2rem;
}

.mt-xl {
  margin-top: 3rem;
}

.ml-sm {
  margin-left: 1rem;
}

.ml-md {
  margin-left: 1.5rem;
}

.ml-la {
  margin-left: 2rem;
}

.ml-xl {
  margin-left: 3rem;
}

.mr-sm {
  margin-right: 1rem;
}

.mr-md {
  margin-right: 1.5rem;
}

.mr-la {
  margin-right: 2rem;
}

.mr-xl {
  margin-right: 3rem;
}
